/* ------------------------------------*\
   ALL COMMON CLASSES
\*------------------------------------ */

.logo-center-text {
    text-align: center;
}

.logo-left-text {
    text-align: left;
}

.logo-right-text {
    text-align: right;
}

.logo-margin-bottom25 {
    margin-bottom: 25px;
}