@import "./../base/base";

/* ------------------------------------*\
   Styling the not found page
\*------------------------------------ */
$bg: #313942;
$ghost: #528cce;
$heading: #7d8086;

.not-found-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  vertical-align: middle;

  &__error {
    color: $heading;
    font-size: 12.5rem;
    letter-spacing: 0.1em;
    margin: 0.025em 0;
    text-shadow: 0.05em 0.05em 0 rgba(0, 0, 0, 0.25);
    white-space: nowrap;

    @media (max-width: 30rem) {
      font-size: 8.5rem;
    }

    & > span {
      animation: spooky 2s alternate infinite linear;
      color: $ghost;
      display: inline-block;
    }

    &-message {
      color: $heading;
      margin-bottom: 0.4em;
      font-size: 40px;
    }

    &-description {
      color: #7d8086;
      margin-top: 0;
      font-size: 20px;
    }
  }
}

@keyframes spooky {
  from {
    transform: translatey(0.15em) scaley(0.95);
  }

  to {
    transform: translatey(-0.15em);
  }
}
