<form class="input-text">
    <mat-form-field class="input-text-field">
        <mat-label *ngIf="inputLabel" class="input-text-field__label">{{inputLabel}}</mat-label>
        <input matInput #message [maxLength]="inputMaxLenght" type="{{inputType}}" placeholder="{{inputPlaceholder}}" [ngModel]="inputValue"
          (ngModelChange)="inputValue=$event;inputValueChange.emit($event);" [ngModelOptions]="{standalone: true}" class="input-text-field__value">
        <mat-hint align="start" *ngIf="inputLeftHint" class="input-text-field__left-hint">{{inputLeftHint}}</mat-hint>
        <mat-hint align="end" *ngIf="inputMaxLenght" class="input-text-field__right-hint">{{message.value.length}} / {{inputMaxLenght}}</mat-hint>
    </mat-form-field>
</form>
