<nav class="navbar navbar-expand-lg navbar-light mb-3">
    <a class="navbar-brand navbar__logo" [routerLink]="'.'">
        <div class="wow animate__animated animate__rubberBand animate__slow 9s animate__infinite"
            data-wow-delay="0.8s" id="header-logo">
            <img src= "./assets/images/logo.svg" height="50">
        </div>
        <div class="wow animate__animated animate__shakeY animate__slow 9s animate__infinite"
            data-wow-delay="1.8s" id="header-logo-text">
            <img src= "./assets/images/logo-text.svg" height="40">
        </div>
    </a>
    <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
        &#9776;
    </button>

    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse navbar__menu">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a routerLink="home" i18n="Home menu | Menu link to home page" id="menu-home">Home</a>
            </li>
        </ul>
    </div>
</nav>