@import "./../../../base/base";

/* ------------------------------------*\
   BUTTON STYLES
\*------------------------------------ */

.mat-button-base {
    color: $button-color !important;
    background-color: $button-bg !important;
    border-color:  $button-border-color !important;
}

.mat-button-base:focus {
    box-shadow: 0 0 0 0.2rem rgba($button-color-shadow, 0.5) !important;
}