@import "./../../../base/base";

/* ------------------------------------*\
   TITLES STYLE
\*------------------------------------ */

.logo-title {
    font-size: 35px;
    font-weight: 600;
    border-bottom: 2px solid $title-underline-bg;
    padding: 15px;
    margin-bottom: 45px;
}