.water-bottle {
  &__number {
    font-size: 25px;
    position: absolute;
    top: 48px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    font-weight: 700;
  }

  &__state {
    font-size: 15px;
    margin-bottom: 20px;
    top: 28px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    font-weight: 700;
  }
}
